*{
	font-family: 'Lato', sans-serif;
	/* Using Google font */
}
h1{
	text-align: center;
	color:navy;
	/* Aligning And Colouring Text*/
}

body{
	background-color: purple;
	font-weight: bolder;
	/* Setting Background and giving a bold foont to body*/
}

#favourites,#details{
	font-style: italic;
	color:white;
	text-align: center;
	margin-top:3%;
	/* Adding style options to My Favourites*/
}

li h3{
	color: yellow;
	text-align: left;
	margin-top: 3%;
	/* Formatting the li items of unordered list*/
}

a{	
	font-weight: bolder;
	font-style: italic;
	color:burlywood;
	font-size: 120%;
	/* Changing the colour and font of the anchor tag*/
}

.books{
	width:  40%;
	height: 40%;
	border: 10px solid black;
	margin-left: 25%;
	/* Fomatting the images displayed in the site */
}

/* Formatting the personal details table */
.personal_info{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.personal_info th{
	color:#80ff00;
	font-style: italic;
}

.personal_info td{
	color:#00ffbf;
}

.personal_info,.personal_info th,.personal_info td{
	border: 5px solid #EB7F0C;
	text-align: center;
	padding: 3%;
}
